@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Pacifico&family=Poppins:wght@400;600&display=swap');

* {
    box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
    font-family: $font-family;
    min-width: 380px;
}
