$font-family: "Nunito", sans-serif;
$font-family2: "Pacifico", cursive;
$green: #267485;
$dark: #002534;
$gray: #BDBDBD;
$yellow: #FFB800;
$orange: #E37611;
$white: #FFFFFF;
$transition: .2s;
$padding-side: 15px;

$container: 1598px;